:root{
    --primary-color: #002144;
    --bg-gray:  #d9d9d9;
    --border-gray: #ccc

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--bg-gray);
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}


.main {
    display: flex;
    

    .formularioLogin{
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:  #1f1f2b;
        flex: 1;
        width: 60vw;
        height: 100vh;
        padding: 20px;

        header{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            .linkCriarConta{
                font-size: 10px;
            }

            a{
                color: #fff;
            }
        }

        .maisAcessos{
            display: flex;
            

        }
        

        .formulario{
            gap: 10px;
            width: 60%;
            display: flex;
            align-items: flex-start;
            flex-direction: column; 


            input::placeholder {
                color: rgb(255, 255, 255); 
                opacity: 1;
                background-color:  #1f1f2b;
            }
            

            input {
                background-color:  #1f1f2b;
                border: none; /* Remove todas as bordas */
                border-bottom: 2px solid rgb(255, 255, 255); /* Adiciona apenas a borda inferior */
                padding: 5px; /* Ajusta o espaçamento interno */
                outline: none; /* Remove o contorno ao clicar */
                color: #fff;
            }
            

            button, .text{
                width: 100%;
                height: 33px;
                border-radius: 2px;

            }

            button{
                border: none; /* Remove todas as bordas */

            }

            .separator {
                display: flex;
                align-items: center;
                text-align: center;
                color: white;
            }
            
            .separator::before,
            .separator::after {
                content: "";
                flex: 1;
                border-bottom: 1px solid white;
                margin: 0 10px;
            }


        }


        .separar {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
            width: 70%;
            margin: 10px 0; 
            position: relative; /* Mantém os elementos alinhados corretamente */
        }
        
        .separar::before,
        .separar::after {
            content: "";
            flex: 1;
            height: 1px;
            background-color: white;
            margin: 0 10px;
            max-width: 100px; /* Define um tamanho máximo para as linhas */
        }

        button, .text{
            width: 100%;
            height: 33px;
            border-radius: 2px;

        }

        button{
            border: none; 
            width: 60%;


        }
        
    }
        .carroselLogin{
            background-color:  #686868;
            width: 40vw;
            height: 100vh;

            .carroselImgs{
                background-image: url("/img/oferta_pizza_login_cadastro.png");
                background-size: cover;  
                background-position: top; 
                background-repeat: no-repeat; 
                /* width: 100vw; */
                height: 100vh;
                background-size: 100%;
            }
            
        }

        
    
}