<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Cadastro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
</head>
<body>
    <main class="main">
        <section class="carroselLogin" id="carroselLogin">
            <div class="carroselImgs"> 
                <div class="cardImgs">
                    <img src="../public/img/Bg-formularios.jpg" alt="" class="imgs">
                </div>
                <div class="cardImgs">
                    <img src="../public/img/bg-pizzaCaixa.jpg" alt="" class="imgs">
                </div>
                <div class="cardImgs">
                    <img src="../public/img/bg-pizzaMesa.jpg" alt="" class="imgs">
                </div>
            </div>
        </section>

        <section class="formularios formularioCadastro" id="formularioCadastro">
            <header>
                <h1>Criar Conta</h1>
                <h2 class="linkCriarConta">Já possui uma conta? <a href="login.html" id="loginLink"><span>Entrar</span></a></h2>
            </header>
            
            <form action="" class="formulario" id="formularioCadastroForm">    
                <div id="parte1">
                    <div class="input-container">
                        <input type="text" class="text" placeholder=" " id="nomeFormCadastro">
                        <span class="spanInput">Nome</span>
                        <span id="spanNomeCadastro"> </span>
                    </div>
                    <div class="input-container">
                        <input type="email" class="text" placeholder=" " id="emailCadastro">
                        <span class="spanInput">Email</span>
                    </div>
                    <div class="input-container">
                        <input type="date" class="text" placeholder=" " id="dataNascimentoCadastro">
                        <span class="spanInput">Data de Nascimento</span>
                    </div>
                    <button type="button" class="btt" id="bttcontinuarCadastro">Continuar</button>
                </div>
                <div id="parte2" class="hidden">
                    <div class="input-container">
                        <input type="number" class="text" placeholder=" " id="cpfCadastro">
                        <span class="spanInput">CPF</span>
                    </div>
                    <div class="input-container">
                        <input type="password" class="text" placeholder=" " id="senhaCadastro">
                        <span class="spanInput">Senha</span>
                    </div>
                    <div class="input-container">
                        <input type="password" class="text" placeholder=" " id="confirmarSenhaCadastro">
                        <span class="spanInput">Confirmar Senha</span>
                    </div>
                    <div class="input-container">
                        <input type="number" class="text" placeholder=" " id="telefoneCadastro">
                        <span class="spanInput">Telefone</span>
                    </div>
                    <button class="btt" id="bttCriarConta">Criar Conta</button>
                </div>
                <span id="errosForm"></span>
            </form>
            <div class="separar">
                <span>Ou</span>
            </div>
            <button class="bttGoogle">Login com Google</button>
        </section>
        <section class="textBonari">
            <div class="divLogo">
                <img src="../public/img/logo.png" alt="" class="logo">
                <h1 class="zen-kaku-gothic-antique-regular">Bonari</h1>
            </div>
            <div class="divParagrafo">
                <h2>O segredo?</h2>
                <p>Ingredientes perfeitos e paixão <br> pela pizza!</p>
            </div>
            <div class="carousel-indicators">
                <hr class="indicator">
                <hr class="indicator">
                <hr class="indicator">
            </div>
        </section>
    </main>
    <script type="module" src="../public/cadastros.js"></script>
</body>
</html>