<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/style.css">
    <title>Cadastro</title>
</head>
<body>
    
    <main class="main">
        <section class="carroselLogin" id="carroselLogin">
            <div class="carroselImgs"> 
                <div class="cardImgs">
                    <img src="../public/img/oferta_pizza_login_cadastro.png" alt="" class="imgs">
                </div>
                <div class="cardImgs">
                    <img src="../public/img/Pizzaria Story Instagram Moderno Vermelho.jpg" alt="" class="imgs">
                </div>
                <div class="cardImgs">
                    <img src="../public/img/Story do Instagram Pizza Vem de Combo Gastronômico Vermelho.jpg" alt="" class="imgs">
                </div>
            </div>

            <button class="carousel-button prev" id="prevButton">
                <img src="../public/img/proximo.png" alt="Anterior" class="prev-img">
            </button>
            <button class="carousel-button next" id="nextButton">
                <img src="../public/img/proximo.png" alt="Próximo" class="next-img">
            </button>
        </section>

        <section class="formularios formularioCadastro" id="formularioCadastro">
            <header>
                <h1>Criar Conta</h1>
                <h2 class="linkCriarConta">Já possui uma conta? <a href="login.html" id="loginLink"><span>Entrar</span></a></h2>
            </header>
            
            <form action="" class="formulario" id="formularioCadastroForm">    
                <div id="parte1">
                    <input type="text" class="text" placeholder="Nome" id="nomeFormCadastro">
                    <span id="spanNomeCadastro"></span>
                    <input type="email" class="text" placeholder="Email" id="emailCadastro">
                    <span id="spanEmailCadastro"></span>
                    <input type="date" class="text" placeholder="Data de Nascimento" id="dataNascimentoCadastro">
                    <span id="spanDataNascimentoCadastro"></span>
                    <button type="button" class="btt" id="bttcontinuarCadastro">Continuar</button>
                </div>
                <div id="parte2" class="hidden">
                    <input type="number" class="text" placeholder="CPF" id="cpfCadastro">
                    <span id="spanCpfCadastro"></span>
                    <input type="password" class="text" placeholder="Senha" id="senhaCadastro">
                    <span id="spanSenhaCadastro"></span>
                    <input type="password" class="text" placeholder="Confirmar Senha" id="confirmarSenhaCadastro">
                    <span id="spanConfirmarSenhaCadastro"></span>
                    <input type="number" class="text" placeholder="Telefone" id="telefoneCadastro">
                    <span id="spanTelefoneCadastro"></span>
                    <button class="btt" id="bttCriarConta">Criar Conta</button>
                </div>
            </form>
            <div class="separar">
                <span>Ou</span>
            </div>
            <button class="bttGoogle">Login com Google</button>
        </section>
    </main>
    <script type="module" src="../public/cadastros.js"></script>
</body>
</html>