<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Login</title>
</head>
<body>
    <main class="main">
        <section class="carroselLogin" id="carroselLogin">
            <div class="carroselImgs"> 
                <div class="cardImgs">
                    <img src="../public/img/Bg-formularios.jpg" alt="" class="imgs">
                </div>
                <div class="cardImgs">
                    <img src="../public/img/Bg-formularios.jpg" alt="" class="imgs">
                </div>
                <div class="cardImgs">
                    <img src="../public/img/Bg-formularios.jpg" alt="" class="imgs">
                </div>
            </div>
        </section>

        <section class="formularios formularioLogin" id="formularioLogin">
            <header>
                <h2>Bem vindo novamente</h2>
                <h1>Entrar</h1>
            </header>
            
            <form action="" class="formulario" id="formulario">    
                
                <div class="input-container">
                    <input type="email" class="text" placeholder=" " id="email">
                    <span class="spanInput">Email</span>
                </div>
                <div class="input-container">
                    <input type="password" class="text" placeholder=" " id="senha">
                    <span class="spanInput">Senha</span>
                </div>
                <button class="btt" id="bttEntrar">Entrar</button>
                <span id="errosForm"></span>
            </form>
            <div class="separar">
                <span>ou</span>
            </div>
            <button class="bttGoogle">Entrar com conta Google</button>
            <p class="linkCriarConta">Ainda não é cadastrado? <a href="cadastro.html" id="criarContaLink"><span>Cadastrar-se</span></a></p>
        </section>
    </main>
    <script type="module" src="../public/script.js"></script>
</body>
</html>