:root {
    --primary-color: #4f4a4b; 
    --bg-gray: #ffffff;
    --border-gray: #ccc;
    --yellow: #FFD700; 
    --red: #FF4500; 
    --green: #32CD32; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-gray);
    color: var(--primary-color); 
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.main {
    display: flex;
}

.bttGoogle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4285f4;
    color: var(--bg-gray); 
    border: none;
    width: 50%;
    height: 7vh;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 35px;
    color: #000;
    margin-bottom: 10px;
}

.linkCriarConta {
    font-size: 14px;
}

header a {
    color: var(--primary-color); 
}

.formulario {
    gap: 15px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

input::placeholder {
    color: var(--primary-color); 
    opacity: 1;
    background-color: var(--bg-gray); 
}

input {
    background-color: var(--bg-gray); 
    border: none; 
    border-bottom: 2px solid var(--primary-color); 
    padding: 5px; 
    outline: none; 
    color: var(--primary-color); 
    width: 100%;
    height: 7vh;
}

.text {
    margin-bottom: 15px;
    width: 100%;
    height: 7vh;

}

.btt {
    cursor: pointer;
    width: 100%;
    height: 7vh;
    border: none; 
    background-color: #000; 
    color: var(--bg-gray);
    border-radius: 15px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--primary-color); 
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--primary-color); 
    margin: 0 10px;
}

.separar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--primary-color); 
    width: 70%;
    margin: 10px 0;
    position: relative;
}

.separar::before,
.separar::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--primary-color); 
    margin: 0 10px;
    max-width: 100px;
}

button, .text {
    width: 100%;
    height: 33px;
    border-radius: 2px;
}

.carroselLogin {
    overflow: hidden;
    position: relative;
    width: 50vw; 
    height: 100vh;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carroselImgs {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; 
}

.cardImgs {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 10px;
}

.imgs {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    right: 45%;
}

.carousel-button.next {
    left: 45%;
}

.prev-img {
    transform: rotate(180deg);
    
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.checkbox-container input[type="checkbox"] {
    margin: 0;
    width: 20px; 
    height: 20px; 
}



.formularios {

    color: var(--primary-color); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-gray); 
    flex: 1;
    width: 55vw;
    height: 100vh;
    padding: 20px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.hidden {
    display: none;
}


.block{
    display: flex;
}

.formularios {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.formularioFormatado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-gray); 
    flex: 1;
    width: 100%;
    height: 100vh;

    gap: 8px;
}

input {
    width: 100%;
    height: 7vh;
}