/* *{
  overflow: hidden;

} */





.carroselLogin {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.carroselImgs {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%;
  height: 100%;
  overflow: hidden;
}

.cardImgs {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;

}

.imgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;

}

.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  overflow: hidden;

}

.carousel-indicators .indicator {
  width: 30px;
  height: 2px;
  background-color: var(--primary-color);
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;



}

.carousel-indicators .indicator.active {
  height: 4px;
  background-color: var(--bg-gray);
  overflow: hidden;

}